@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

/* eslint-disable-next-line no-undef */
@theme {
	--color-primary: #4f46e5;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
